
	

@media print {

		@font-face {
		    font-family: "AcademySans-Bold";
		    src: url('../Mediatheque_font/Academy Sans-Bold Playtype.otf');
		    
		}
		@font-face {
			font-family: "AcademySans";
		    src: url('../Mediatheque_font/Academy Sans Playtype.otf');

		}
		@font-face {
			font-family: "FestivalMediatheque";
		    src: url('../Mediatheque_font/FestivalMediatheque.ttf');

		}


	@page{size: A4 landscape;}
	
		#imprimer{
			display:none;
			/*background-color: red;*/
		}
		
		#pictofeuille{
			display:none;
		}
		#zone{
			width:2100px;
			height:1643px;
			/*background-color: blue;*/
		}

/* book Presentation A3 */

		#titre2{

			width: 1528px;
			height:auto;
			margin-top:50px;
			margin-left: 43px;
			/*overflow:auto;*/
			font-family:"AcademySans-Bold";
			font-size: 92px;
			text-decoration: underline;	
		}


		#auteur2{
			width: 1528px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px;
		}


		#date2{
			width: 1528px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px; 
		}

		#informations2_gauche1 {
			resize:vertical;
			float:left;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2_gauche2 {
			resize:vertical;
			float: left;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2_gauche3 {
			resize:vertical;
			float: left;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2_gauche4 {
			resize:vertical;
			float: left;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2_droite1 {
			float: right; 			
			resize:vertical;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2_droite2 {
			resize:vertical;
			float: right;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2_droite3 {
			resize:vertical;
			float: right;
			position: relative;
			border: none;
			width: 48%;
			height:auto;
			/*overflow:auto;*/
			font-family:"FestivalMediatheque";
			font-size: 21px; 
		}

		#informations2{ 
			resize:vertical;
			width: 445px;
			height: 150px;
			margin-top:43px;
			margin-left: 43px;
		}

		.texte2{ 
			display: none;
		}

		#mainpipe2{
			/*display: none;*/
			width:550px;
			height: auto;
			float:left;
			margin-left: 45px;
			font-family:"FestivalMediatheque";
			font-size: 21px;
			line-height: 1.5em;
			white-space: pre-wrap;
			word-wrap:break-word;
			word-break:keep-all;
		}

		#runoff2{
			/*display: none;*/
			float:left;
			width:550px;
			max-height: 320px;
			margin-left: 1.5em;
			font-family:"FestivalMediatheque";
			font-size: 21px;
			line-height: 1.5em;
			white-space: pre-wrap;
			word-wrap:break-word;
			word-break:keep-all ;
			overflow:hidden;
		}

		#page2{
			width:1678px;
			height:1189px;
			border-style:none;
			border-color:#000;
			margin-bottom: 43px;
		}





/* Event A3 */

		#type4{
			width: 712px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px;
		}

		#intervenant4{
			width: 712px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px; 
		}

		#titre4{
			text-decoration: underline;
			border: none;
			width: 712px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px; 
			text-decoration: underline;
		}

		#date4{
			text-align: right;
			width: 712px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px;
		}

		#horaire4{
			text-align: right;
			width: 712px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px; 
		}

		#lieu4{
			text-align: right;
			width: 712px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px; 
		}

		.texte4{ 
			display: none;
		}

		#mainpipe3{
		
			width:550px;
			height: auto;
			float:left;
			margin-left: 45px;
			font-family:"FestivalMediatheque";
			font-size: 21px;
			line-height: 1.5em;
			white-space: pre-wrap;
			word-wrap:break-word;
			word-break:keep-all;
		}

		#runoff3{
		
			float:left;
			width:550px;
			max-height: 320px;
			margin-left: 1.5em;
			font-family:"FestivalMediatheque";
			font-size: 21px;
			line-height: 1.5em;
			white-space: pre-wrap;
			word-wrap:break-word;
			word-break:keep-all ;
			overflow:hidden;
		}

		#page4{
			width:1677px;
			height:1175px;
			border-style:none;
			margin-bottom: 43px;
		}



/* Info A3 */


		#titre6{
			width: 1528px;
			height:auto;
			margin-top:43px;
			margin-left: 43px;
			font-family:"AcademySans-Bold";
			font-size: 92px;
		}

		.texte5{ 
			display: none;
		}

		#mainpipe4{
			/*display: none;*/
			width:550px;
			height: auto;
			float:left;
			margin-top: 40px;
			margin-left: 45px;
			font-family:"FestivalMediatheque";
			font-size: 21px;
			line-height: 1.5em;
			white-space: pre-wrap;
			word-wrap:break-word;
			word-break:keep-all;
		}

		#runoff4{
			/*display: none;*/
			float:left;
			width:550px;
			max-height: 500px;
			margin-top: 50px;
			margin-left: 1.5em;
			font-family:"FestivalMediatheque";
			font-size: 21px;
			line-height: 1.5em;
			white-space: pre-wrap;
			word-wrap:break-word;
			word-break:keep-all ;
			overflow:hidden;
		}

		#page6{
			width:1677px;
			height:1175px;
			border-style:none;
			border-color:#000;
			background-color: none;
			margin-bottom: 43px;
		}


